@import "~antd/lib/table/style/index.css";
@import "~antd/lib/pagination/style/index.css";
@import "~antd/lib/select/style/index.css";

.ant-table {
	&.ant-table-bordered > .ant-table-container {
		border-bottom: 1px solid #f0f0f0;

		.ant-table-body {
			overflow-y: auto !important;

			table {
				overflow: hidden;

				.ant-table-tbody {
					> tr > td {
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}

					> tr:last-child {
						> td {
							border-bottom: 0;
						}
					}
				}
			}
		}
	}
}
